{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Liste des prefixes
    <div class="button-action float-right">
        <a class="btn btn-primary" href="{{ path('admin.prefixes.new') }}">Créer prefixe</a>
    </div>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div id="content-section" class="adminTableJsCustom">
            <table class="table table-responsive" id="tableUsers">
                <thead>
                    <tr>
            			<th>#</th>
                		<th>Prefixe</th>
                		<th>Icon</th>
                		<th>Style</th>
                		<th>Catégories</th>
                        <th>Action</th>
            	   </tr>
            	</thead>
                <tbody>
                    {% for prefixe in prefixes %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ prefixe.prefix }}</td>
                            <td><i class="{{ prefixe.icon }}"></i></td>
                            <td><span class="prefix {{ prefixe.couleurType }}"> {{ prefixe.couleurType }} </span></td>
                            <td>
                                <a class="btn btn-info" href="#" data-toggle="modal" data-target="#prefixe{{ prefixe.id }}" >Afficher</a>
                                <div class="modal fade" id="prefixe{{ prefixe.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ prefixe.prefix }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for categ in prefixe.categories %}
                                                <div>-{{ categ.categorie }}</div>
                                                {% else %}
                                                Aucune
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-primary" title="" href="{{ path('admin.prefixes.editer', {id: prefixe.id})}}"><i class="fa fa-fw fa-edit"></i> </a>
                                <a class="btn btn-danger" href="#" data-title="Delete" data-toggle="modal" data-target="#delete{{ prefixe.id }}" ><i class="fa fa-trash"></i></a>
                                <!-- modal delete -->
                                <div class="modal fade" id="delete{{ prefixe.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    {{ include("inc/modal/modal_delete.html.twig", {signal : prefixe.id, route : 'admin.prefixes.delete'}) }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block  body_javascript %}
{{ parent() }}
<script src="/assets/plugins/dataTable/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/dataTable/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#tableUsers').DataTable();
} );
</script>
{% endblock %}
