{% extends 'layout.html.twig' %}

{% block title %} Home {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    <i class="fa fa-check"></i> <strong> Success !!!</strong> {{ message }}
</div>
{% endfor %}


<div class="row">
    <div class="col-sm-12">
        {% if is_granted('ROLE_BANNI') %}
        <div class="alert alert-danger">
            <strong>
                Vous êtes banni du site
                {% if app.user.userBannir.fin %}
                jusqu'au {{ app.user.userBannir.fin | localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}
                {% else %}
                de façon permanent
                {% endif %}
                pour la raison suivante: {{ app.user.userBannir.motif }}.
            </strong>
        </div>
        {% endif %}
    </div>
</div>

<div class="">
{% for lastDiscu in lastDiscussions %}
<div class="block-container porta-article-container {% if loop.index is odd %}block-left{% else %}block-right{% endif %}">
	<h2 class="mt-3"><a href="{{ path('forum.discussion', {id: lastDiscu.id, slug: lastDiscu.slug}) }}">{{ lastDiscu.titre }}</a></h2>

	<div class="content-section">

		<div class="message-cell porta-article-date">
			<div class="porta-date-block">
				{{ lastDiscu.dateCreation|localizeddate('none', 'none', null, null, 'MMM')|replace({'.': ''}) }}<b>{{ lastDiscu.dateCreation|date("d", "Europe/Paris") }}</b>
			</div>
		</div>

		<div class="container">
			<div class="message-attribution message-attribution--split">
				<div class="float-left">
					<i class="fa fa-user" aria-hidden="true"></i> <a class="pseudoUser{{ lastDiscu.auteur.role.id }}" href="{{ path('membres.profil', {id: lastDiscu.auteur.id, slug: lastDiscu.auteur.slug})}}">{{ lastDiscu.auteur.username }}</a>
					<i class="fa fa-clock" aria-hidden="true"></i> {{ date_passed(lastDiscu.dateCreation | date('d-m-Y H:i:s')) }}
				</div>
				<div class="text-right">
					<i class="fa fa-eye" aria-hidden="true"></i> {{ lastDiscu.affichage }}
					<i class="fa fa-comments" aria-hidden="true"></i> {{ lastDiscu.forumCommentaires.count }}
				</div>
			</div>
			<div class="content-message haut-message">
                {{ parser(lastDiscu.message) | raw }}
			</div>
		</div>
        <div class="actionBar-set float-right">
            <a href="{{ path('forum.discussion', {id: lastDiscu.id, slug: lastDiscu.slug}) }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Continuer...</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endfor %}
<div class="clearfix"></div>
</div>
{% endblock %}
