<div class="nodeLastPost mobileBrDisplaySM">
    {% if lastDiscuCom %}
        <div class="noMessages">
            {% if lastDiscuCom.forumCommentaires.count > 0 %}
            {% set lastCom = max(lastDiscuCom.forumCommentaires.snapshot) %}
                <a href="{{ path('forum.discussion', {id: lastDiscuCom.id, slug: lastDiscuCom.slug}) }}#ancreCom{{ lastCom.id }}">{{ lastDiscuCom.titre | slice(0, 25) }}{% if lastDiscuCom.titre|length > 25 %}...{% endif %}</a>
                <span class="nodeStatItem">{{ date_passed(lastCom.dateCreation | date('d-m-Y H:i:s')) }}</span>
                - <a class="pseudoUser{{ lastCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastCom.auteur.id, slug: lastCom.auteur.slug})}}">{{ lastCom.auteur.username }}</a>
            {% else %}
                <a href="{{ path('forum.discussion', {id: lastDiscuCom.id, slug: lastDiscuCom.slug}) }}">{{ lastDiscuCom.titre | slice(0, 20) }}{% if lastDiscuCom.titre|length > 20 %}...{% endif %}</a>
                <span class="nodeStatItem">{{ date_passed(lastDiscuCom.dateCreation | date('d-m-Y H:i:s')) }}</span>
                - <a class="pseudoUser{{ lastDiscuCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastDiscuCom.auteur.id, slug: lastDiscuCom.auteur.slug})}}">{{ lastDiscuCom.auteur.username }}</a>
            {% endif %}
        </div>
    {% else %}
    <span class="noMessages nodeStatItem">(Ne contient aucun message)</span>
    {% endif %}

</div>

</td>
<td class="nodeCol3 mobileDisplaySM">
<div class="nodeLastPost">
    {% if lastDiscuCom %}
        <div class="noMessages">
            {% if lastDiscuCom.forumCommentaires.count > 0 %}
            {% set lastCom = max(lastDiscuCom.forumCommentaires.snapshot) %}
            <div class="node-extra-icon visitor-avatar">
                <img height="36" width="36" src="{{ vich_uploader_asset( lastCom.auteur, 'imageFile') }}" alt="{{  lastCom.auteur.username }}" />
            </div>
            <div>
                <span>Dernier: <a href="{{ path('forum.discussion', {id: lastDiscuCom.id, slug: lastDiscuCom.slug}) }}#ancreCom{{ lastCom.id }}">
                    {{ lastDiscuCom.titre | slice(0, 25) }}{% if lastDiscuCom.titre|length > 25 %}...{% endif %}
                </a></span>
            </div>
            <div>
                <a class="pseudoUser{{ lastCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastCom.auteur.id, slug: lastCom.auteur.slug})}}">{{ lastCom.auteur.username }}</a>
                , <span class="nodeStatItem"><i class="fa fa-clock-o"></i> {{ date_passed(lastCom.dateCreation | date('d-m-Y H:i:s')) }}</span>
            </div>
            {% else %}
            <div class="node-extra-icon visitor-avatar">
                <img height="36" width="36" src="{{ vich_uploader_asset( lastDiscuCom.auteur, 'imageFile') }}" alt="{{  lastDiscuCom.auteur.username }}" />
            </div>
            <div>
                <span>Dernier: <a href="{{ path('forum.discussion', {id: lastDiscuCom.id, slug: lastDiscuCom.slug}) }}">
                    {{ lastDiscuCom.titre | slice(0, 20) }}{% if lastDiscuCom.titre|length > 20 %}...{% endif %}
                </a></span>
            </div>
            <div>
                <a class="pseudoUser{{ lastDiscuCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastDiscuCom.auteur.id, slug: lastDiscuCom.auteur.slug})}}">{{ lastDiscuCom.auteur.username }}</a>
                , <span class="nodeStatItem"><i class="fa fa-clock-o"></i> {{ date_passed(lastDiscuCom.dateCreation | date('d-m-Y H:i:s')) }}</span>
            </div>
            {% endif %}
        </div>
    {% else %}
    <span class="noMessages nodeStatItem">(Ne contient aucun message)</span>
    {% endif %}
</div>
