<div class="discussionRepAfi no-padding" id="content-section">
    <table>
        <thead>
          <tr class="nodeLigneTitle">
            <th class="discussionRepAfi pl-5">Titre</th>
            <th class="discussionRepAfi mobileDisplay">
                <span style="text-align: left;">Réponses</span>
                <span style="text-align: right;">Affichages</span>
            </th>
            <th class="discussionRepAfi mobileDisplay" style="text-align: right;">Dernier Message ↓</th>
          </tr>
        </thead>
        <tbody>
        {% for d in discussions %}
            <tr class="nodeLigne {% if d.important %}ligneImportantDiscu{% endif %}" id="">
                <td class="discussionCol2">
                    <img class="float-left mr-2" width="36" height="36" src="{{ vich_uploader_asset( d.auteur, 'imageFile') }}" alt="{{  d.auteur.username }}" />
                    {% if d.locked %}
                    <span class="float-right pl-2" style="color:red;"><i class="fa fa-lock"></i></span>
                    {% endif %}
                    {% if d.important %}
                    <span style="float:right; color:#f79e12;"><i class="fa fa-thumb-tack"></i></span>
                    {% endif %}
                    <div class="nodeTitle">
                        {% if d.prefixe %}
                        <a href="{{ path('forum.discussions', {id: d.categorie.id, slug: d.categorie.slug, prefix: d.prefixe.id }) }}">
                            <span class="prefix {{ d.prefixe.couleurType }}"><i class="{{ d.prefixe.icon }}"></i> {{ d.prefixe.prefix }} </span>
                        </a>
                        {% endif %}
                    <a href="{{ path('forum.discussion', {id: d.id, slug: d.slug}) }}">
                        {{ d.titre }}
                    </a>
                    </div>
                    {% if is_granted('DELET_EDIT_DISCISSION', d) or is_granted('ROLE_MODERATEUR') %}
                    <span class="dropdown noMessages open float-right" id="editDiscussion">
                        <a aria-expanded="true" href="#" type="button" data-toggle="dropdown">Editer</a>
                        <ul class="dropdown-menu dropdown-menu-editer">
                            <li>
                                <a href="{{ path('forum.discussion.editer', {id: d.id, slug: d.slug})}}"><i class="fa fa-edit"></i> Editer la discussion</a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#" data-target="#modalDeplaDiscu" data-id="{{ d.id }}"><i class="fa fa-sign-out"></i> Déplacer la discussion</a>
                            </li>
                            <li>
                                <a href="#" data-title="Delete" data-toggle="modal" data-target="#delete{{ d.id }}" ><i class="fa fa-trash"></i> Supprimer la discussion</a>
                            </li>
                            <li>
                                {% if d.locked %}
                                <a href="{{ path('forum.locked', {id: d.id})}}"><i class="fa fa-unlock"></i> Dévérrouiller la discussion</a>
                                {% else %}
                                <a href="{{ path('forum.locked', {id: d.id})}}"><i class="fa fa-lock"></i> Vérrouiller la discussion</a>
                                {% endif %}
                            </li>
                            {% if is_granted('ROLE_MODERATEUR') %}
                            <li>
                                {% if d.important %}
                                <a href="{{ path('forum.important', {id: d.id})}}"><i class="fa fa-thumb-tack"></i> Désépingler la discussion</a>
                                {% else %}
                                <a href="{{ path('forum.important', {id: d.id})}}"><i class="fa fa-thumb-tack"></i> Epingler la discussion</a>
                                {% endif %}
                            </li>
                            {% endif %}
                        </ul>
                    </span>
                    {% endif %}
                    <div class="nodeStat">
                        <span class="disparforumstat">
                            <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug}) }}">{{ d.auteur.username }}</a>,
                            <span class="nodeStatItem"><i class="fa fa-clock-o"></i> {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}</span>
                            <span class="nodeStatItem mobileBrDisplay"><i class="fa fa-comments"></i> {{ d.forumCommentaires.count }}</span>
                        </span>
                    </div>
                </td>
                <td class="discussionCol3 discussionRepAfiBis mobileDisplay">
                    <div class="nodeTdCust">
                        <div class="discussionRepAfi">
                            <div><span class="nodeStatItem">Réponses:</span> <span style="float: right;">{{ d.forumCommentaires.count }}</span></div>
                            <div><span class="nodeStatItem">Affichages:</span> <span style="float: right;">{{ d.affichage }}</span></div>
                        </div>
                    </div>
                </td>
                <td class="discussionCol4 discussionRepAfiBis mobileDisplay">
                    <div class="nodeTdCust">
                        <div class="discussionRepAfi">
                            {% if d.forumCommentaires.count > 0 %}
                                {% set lastCom = max(d.forumCommentaires.snapshot) %}
                                <div class="nodeStatItem">
                                    {{ date_passed(lastCom.dateCreation | date('d-m-Y H:i:s')) }}
                                </div>
                                <div>
                                    <span class="noMessages"><i class="fa fa-user-o"></i>
                                        <a class="pseudoUser{{ lastCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastCom.auteur.id, slug: lastCom.auteur.slug})}}">{{ lastCom.auteur.username }}</a>
                                    </span>
                                </div>
                            {% else %}
                                <div class="nodeStatItem">
                                    {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}
                                </div>
                                <div>
                                    <span class="noMessages"><i class="fa fa-user-o"></i>
                                        <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug})}}">{{ d.auteur.username }}</a>
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            <div class="modal fade" id="delete{{ d.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Vos commentaires seront supprimé également</div>
                        </div>
                        <div class="modal-footer">
                        <form method="post" action="{{ path('forum.discussion.delete', {id: d.id})}}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert alert-info mt-3">
                        {% if current_url is defined and current_url == 'search' %}
                        <strong>Aucun résultat trouvé.</strong>
                        {% else %}
                        <strong>Aucune discussion !</strong> Soyez la première personne à poster une discussion.
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <div class="p-1 pl-2 staffRole">
                    {% if discussions.currentPageNumber > 1 %}
                    {% set nb1 = (20 * discussions.currentPageNumber - 20) + 1 %}
                    {% set nb2 = (20 * discussions.currentPageNumber - 20) + discussions.count %}
                    Afficher les discussions de {{ nb1  }} à {{ nb2  }} sur {{ discussions.getTotalItemCount }}
                    {% else %}
                    Afficher les discussions de 1 à {{ discussions.count }} sur {{ discussions.getTotalItemCount }}
                    {% endif %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
