<div id="collapse{{ categorie.id }}" class="panel-collapse collapse show">
    <div class="panel-body">
        <table>
            {% for sousCateg in categories if sousCateg.parent == categorie.id %}
                {% if sousCateg.access.nom is not defined or is_granted(sousCateg.access.role) %}
                    {% set nbCom = 0 %}
                    {% for result in sousCateg.forumDiscussions.snapshot %}
                        {% set nbCom = nbCom + result.forumCommentaires.count %}
                    {% endfor %}
                <tr class="nodeLigne">
                    <td class="nodeCol1">
                        <i class="{{ sousCateg.icon }}"></i>
                    </td>
                    <td class="nodeCol2">
                        <div class="nodeTitle">
                            <a class="title-categ{{ categorie.id }}" href="{{ path('forum.discussions', {id: sousCateg.id, slug: sousCateg.slug}) }}">
                                {{ sousCateg.categorie }}
                            </a>
                        </div>
                        <div class="nodeStat">
                            <div class="disparforumstat strongItem">
                                <span class="nodeStatItem">Discussions:</span> <span>{{ sousCateg.forumDiscussions.count }}</span>
                                <span class="nodeStatItem">Messages:</span> <span>{{ sousCateg.forumDiscussions.count + nbCom }}<span>
                                {% set access = false %}
                                {% for sousCateg2 in categories if sousCateg2.parent == sousCateg.id and (sousCateg2.access.nom is not defined or is_granted(sousCateg2.access.role)) %}
                                {% set access = true %}
                                {% endfor %}
                                {% if access %}
                                <span class="nodeStatItem nodeStatItemSousForum mobileDisplaySM" aria-expanded="true" href="#" data-toggle="dropdown">Sous-forums <i class="fa fa-caret-down"></i></span>
                                <div class="dropdown-menu dropdown-sousForum" id="dropdown-content-user">
                                    <span class="menu-arrow"></span>
                                    <h3 class="menu-header">Sous-forums</h3>
                                    {% for sousCateg2 in categories if sousCateg2.parent == sousCateg.id and (sousCateg2.access.nom is not defined or is_granted(sousCateg2.access.role)) %}
                                    <div class="p-1 pl-2">
                                        <i class="{{ sousCateg2.icon }}"></i>
                                        <a class="title-categ{{ sousCateg2.id }}" href="{{ path('forum.discussions', {id: sousCateg2.id, slug: sousCateg2.slug}) }}">
                                            {{ sousCateg2.categorie }}
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {{ render(controller("App\\Controller\\ForumController:lastMessage", {id: sousCateg.id, route: "ordi"})) }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
