{% extends 'layout.html.twig' %}

{% block title %}Résultats de la recherche: {{ recherche }} {{ parent() }}{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('search') }}">Rechercher</a></li>
    <li class="breadcrumb-item active">{{ recherche }}</li>
</ol>

<div class="col-sm-12">
    <h1 class="p-title-value text-center">Résultats de la recherche: {{ recherche }}</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
        <div class="discussionRepAfi no-padding" id="content-section">
            <table>
                <thead>
                  <tr class="nodeLigneTitle">
                    <th></th>
                    <th class="discussionRepAfi">Titre</th>
                    <th class="discussionRepAfi">
                        <span style="text-align: left;">Réponses</span>
                        <span style="text-align: right;">Affichages</span>
                    </th>
                    <th class="discussionRepAfi" style="text-align: right;">Dernier Message ↓</th>
                  </tr>
                </thead>
                <tbody>

                {% for d in discussions %}
                    <tr class="nodeLigne {% if d.important %}ligneImportantDiscu{% endif %}" id="">
                        <td class="discussionCol1"><img width="36" height="36" src="{{ vich_uploader_asset( d.auteur, 'imageFile') }}" alt="{{  d.auteur.username }}" /></td>
                        <td class="discussionCol2">
                            {% if d.locked %}
                            <span class="float-right pl-2" style="color:red;"><i class="fa fa-lock"></i></span>
                            {% endif %}
                            {% if d.important %}
                            <span style="float:right; color:#f79e12;"><i class="fa fa-thumb-tack"></i></span>
                            {% endif %}
                            <div class="nodeTitle">
                            <a href="{{ path('forum.discussion', {id: d.id, slug: d.slug}) }}">{{ d.titre }}</a>
                            </div>
                            <div class="nodeStat">
                                <span class="disparforumstat">
                                    <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug}) }}">{{ d.auteur.username }}</a>,
                                    <span><i class="fa fa-clock-o"></i> {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}</span>
                                    dans <strong><a href="{{ path('forum.discussions', {id: d.categorie.id, slug: d.categorie.slug}) }}">{{ d.categorie.categorie }}</a></strong>
                                </span>
                            </div>
                        </td>
                        <td class="discussionCol3 discussionRepAfiBis">
                            <div class="nodeTdCust">
                                <div class="discussionRepAfi">
                                    <div><span>Réponses:</span> <span style="float: right;">{{ d.forumCommentaires.count }}</span></div>
                                    <div><span>Affichages:</span> <span style="float: right;">{{ d.affichage }}</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="discussionCol4 discussionRepAfiBis">
                            <div class="nodeTdCust">
                                <div class="discussionRepAfi">
                                    {% if d.forumCommentaires.count > 0 %}
                                        {% set lastCom = max(d.forumCommentaires.snapshot) %}
                                        <div>
                                            {{ date_passed(lastCom.dateCreation | date('d-m-Y H:i:s')) }}
                                        </div>
                                        <div>
                                            <span class="noMessages"><i class="fa fa-user-o"></i>
                                                <a class="pseudoUser{{ lastCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastCom.auteur.id, slug: lastCom.auteur.slug})}}">{{ lastCom.auteur.username }}</a>
                                            </span>
                                        </div>
                                    {% else %}
                                        <div>
                                            {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}
                                        </div>
                                        <div>
                                            <span class="noMessages"><i class="fa fa-user-o"></i>
                                                <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug})}}">{{ d.auteur.username }}</a>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <div class="m-2">
                                Aucun résultat trouvé.
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
    </div>
</div>
{% endblock %}
