{% extends 'layout.html.twig' %}

{% block title %}{{ recherche }} {{ parent() }}{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('search') }}">Rechercher</a></li>
    <li class="breadcrumb-item active">{{ recherche }}</li>
</ol>

<div class="col-sm-12">
    <h1 class="p-title-value text-center">{{ recherche }}</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
        {{ include("forum/inc/tableau_discussions.html.twig") }}
        <br/>
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
    </div>
</div>
<!-- Modal deplaDiscu -->
<div class="modal fade" id="modalDeplaDiscu" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalDeplaDiscu').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('forum.deplacer.discussion', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
