{% extends 'layout.html.twig' %}

{% block title %} Membres {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="/assets/plugins/dataTable/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active">Membres</li>
</ol>

<div class="row">
    <div class="col-sm-9">
        <div id="content-section">
            <table class="table table-bordered table-responsive text-center" id="tableUsers">
                <thead>
                    <tr>
            			<th>#</th>
                		<th>Avatar</th>
                		<th>Nom</th>
                		<th>Messages</th>
                		<th>Date inscription</th>
                		<th>Dernière visite</th>
            	   </tr>
            	</thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><img width="38" height="38" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.username }}" /></td>
                            <td><a class="pseudoUser{{ user.role.id }}" href="{{ path('membres.profil', {id: user.id, slug: user.slug}) }}">{{ user.username }}</a></td>
                            <td>{{ user.forumCommentaires.count + user.forumDiscussions.count }}</td>
                            <td>{{ date_passed(user.dateInscription | date('d-m-Y H:i:s')) }}</td>
                            <td>{{ user.dateVisite | localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        {{ include("inc/sidebar.html.twig") }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/assets/plugins/dataTable/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/dataTable/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#tableUsers').DataTable();
} );
</script>
{% endblock %}
