{% extends 'layout.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}

{% block body %}
<h1 class="p-title-value text-center">Se connecter</h1>

{% if error %}
<div class="alert alert-danger">
    <i class="fa fa-warning"></i> <strong> Erreur !!!</strong> {{ error.messagekey | trans(error.messagedata, 'security') }}
</div>
{% endif %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    <i class="fa fa-check"></i> <strong> Success !!!</strong> {{ message }}
</div>
{% endfor %}

<div id="content-section" class="page-connexion">
    <form action="{{ path('login') }}" method="post">
        <div class="block-container">
            <dl class="formRow formRow-input">
                <dt>
                    <label for="username">Votre nom ou adresse email : </label>
                </dt>
                <dd>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="_username" id="username"  placeholder="Entrer votre nom" required autofocus />
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="formRow formRow-input">
                <dt>
                    <label for="password">Votre mot de passe : </label>
                </dt>
                <dd>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="_password" id="password"  placeholder="Entrer votre mot de passe" required />
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <a href="recuperation" data-xf-click="overlay">Vous avez oublié votre mot de passe ?</a>
                </dd>
            </dl>

            <dl class="formRow">
                <dt></dt>
                <dd>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="_remember_me" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Rester identifié</label><br/><br/>
                    </div>
                </dd>
            </dl>

            <div class="text-center btn-container">
                <button class="btn" type="submit"><i class="fa fa-lock fa-lg" aria-hidden="true"></i> Se connecter</button>
            </div>

        </div>
    </form>
</div>
<br/>
<div class="text-center">
    <span>Vous n'avez pas de compte ? </span><a href="{{ path('inscription') }}" class="button"><strong>S'inscrire</strong></a>
</div>
{% endblock %}
