<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="description" content="WebSite El Mojito">
		<meta name="keywords" content="informatique, hacking, modding, gaming, windows">
		<meta name="author" content="El Mojito">
        <title>{% block title %}| Lmoury{% endblock %}</title>
        {% block stylesheets %}
            <!-- css -->
            <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/clair.css" title="clair">
            <link rel="stylesheet" type="text/css" href="/assets/css/sombre.css" title="sombre">
            <link rel="stylesheet" type="text/css" href="/assets/css/username.css">
            <link rel="stylesheet" type="text/css" href="/assets/plugins/wow/css/animate.css">
            <!-- Font -->
            <link rel="stylesheet" type="text/css" media="all" href="/assets/css/font-awesome.css"/>
            <link rel="stylesheet" type="text/css" href="/assets/fonts/font-mfizz-2.3.0/font-mfizz.css">
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-custom">
            <i class="fa fa-check"></i> {{ message }}
        </div>
        {% endfor %}
        {{ include("inc/header.html.twig") }}
        {{ include("inc/navbar.html.twig") }}

        <div class="container" id="container">
            {{ render(controller("App\\Controller\\LayoutController:notice")) }}
            {% block body %}{% endblock %}
        </div>
        {{ include("inc/footer.html.twig") }}

        {% block javascripts %}
            <!-- javascript -->
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/popper.min.js"></script>
            <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/extra.js"></script>
            <script src="/assets/js/styleswitcher.js"></script>
            <script src="/assets/plugins/wow/js/wow.min.js"></script>
            <script>
                new WOW().init();
            </script>
            <script>
            jQuery(document).ready(function(){
                $('.alert-custom').show(0).delay(5000).hide(200);
            });
            </script>
       {% endblock %}

    </body>
</html>
