<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}| Lmoury{% endblock %}</title>
        {% block stylesheets %}
            <!-- css -->
            <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/username.css">
            <link rel="stylesheet" type="text/css" href="/assets/plugins/wow/css/animate.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/chatbox.css">
            <!-- Font -->
            <link rel="stylesheet" type="text/css" media="all" href="/assets/css/font-awesome.css"/>
            <link rel="stylesheet" type="text/css" href="/assets/fonts/font-mfizz-2.3.0/font-mfizz.css">
        {% endblock %}
    </head>
    <body>
    <div class="sidebar-content mb-4">
        <div class="sidebar-title">
            <strong><i class="fa fa-wechat mr-2"></i>Chatbox</strong>
            <span class="cursor-pointer float-right" data-toggle="modal" data-target="#myModal"><span class="fa fa-warning"></span></span>
            {% if is_granted('ROLE_MODERATEUR')  %}
            <span class="cursor-pointer float-right mr-2" data-title="Delete" data-toggle="modal" data-target="#vider" ><i class="fa fa-trash"></i></span>
            {% endif %}
            <!-- Modal -->
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content modalChatbox">
                        <div class="modal-header slide">
                            <h4 class="modal-title chatboxH4"><span class="fa fa-gavel" style="padding-right:9px;"></span>Règlement de la ChatBox</h4>
                            <button type="button" class="close chatboxClose" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="spacer center"><div class="mask center"></div></div>
                        <div class="modal-body slide">
                            <p>
                            - Interdiction de spammer (3 messages et 3 caractères d'affilés maximum).<br/>
                            - 3 Smileys maximum a chaque message entrer dans la shoutbox.<br/>
                            - Interdiction de mettre des liens externe sauf images et musiques.<br/>
                            - Interdiction d'utiliser les majuscules de manière intempestive (pas plus de 5 maj).<br/>
                            - Interdiction d'avoir un langage vulgaire.<br/>
                            - Interdiction de divulguer des informations personnel.<br/>
                            - Interdiction de poster plus d'un lien (liens internes seulement).<br/>
                            - Interdiction de parler de virus, rat ou autre sur la shoutbox.<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="bgChatMessage" id="chatboxMsg">
            {% for chat in chatbox %}
            <p>
                <img width="20" height="20"src="{{ vich_uploader_asset(chat.user, 'imageFile') }}" alt="{{ chat.user.username }}" />
                <a href="{{ path('membres.profil', {id: chat.user.id, slug: chat.user.slug}) }}" class="pseudoUser{{ chat.user.role.id }}" > {{ chat.user.username }} </a> : {{ parser(chat.message) | raw }}
                <span class="chatDateCust">{{ date_passed(chat.poster | date('d-m-Y H:i:s')) }}</span>
            </p>
            {% endfor %}
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        {{ form_widget(form.message, { 'attr': {'placeholder': 'Écrire un message...'} }) }}
                        {{ form_errors(form.message) }}
                        <div class="input-group-prepend">
                            <button class="btn input-group-text"><i class="fa fa-send" aria-hidden="true"></i>{{ button|default('')}}</button>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-12">
                <button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[u]', '[/u]');"><u>U</u></button>
                <button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[s]', '[/s]');"><s>S</s></button>
            	<button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[i]', '[/i]');"><i>I</i></button>
            	<button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[b]', '[/b]');"><b>G</b></button>
            	<button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[url=http://www.exemple.com]', 'descriptif_du_lien[/url]');"><span class="fa fa-link" ></span></button>
            	<button type="button" class="bbcode_button" onclick="addBalises('#chatbox_message', '[img]', '[/img]');"><span class="fa fa-picture-o" ></span></button>

                <div class="faChatBox dropdown"><span type="button" data-toggle="dropdown"><span class="fa fa-smile-o" ></span></span>
                    <div class="dropdown-menu smileyCust">
                        <span onclick="remplirInput('chatbox_message',';)');"><img src="../assets/img/smileys/clin.gif" alt=";)" /></span>
                        <span onclick="remplirInput('chatbox_message','lol');"><img src="../assets/img/smileys/lol.gif" alt="lol" /></span>
                        <span onclick="remplirInput('chatbox_message',':ninja:');"><img src="../assets/img/smileys/ninja.gif" alt=":ninja:" /></span>
                        <span onclick="remplirInput('chatbox_message',':troll:');"><img src="../assets/img/smileys/troll/troll.png" alt=":troll:" /></span>
                        <span onclick="remplirInput('chatbox_message',':troll1:');"><img src="../assets/img/smileys/troll/1.png" alt=":troll1:" /></span>
                        <span onclick="remplirInput('chatbox_message',':abruti:');"><img src="../assets/img/smileys/abruti.gif" alt=":abruti:" /></span>
                        <span onclick="remplirInput('chatbox_message',':boulet:');"><img src="../assets/img/smileys/boulet.gif" alt=":boulet:" /></span>
                        <span onclick="remplirInput('chatbox_message',':nettoyage:');"><img src="../assets/img/smileys/nettoyage.gif" alt=":boulet:" /></span> 
                    </div>
                </div>

                <div class=" dropdown"><span type="button" data-toggle="dropdown"><span class="fa fa-search" ></span></span>
                    <div class="dropdown-menu wbb-list">
                        <div class="sc" style="background:#000000" title="#000000" onclick="addBalises('#chatbox_message', '[color=#000000]', '[/color]');"></div>
                        <div class="sc" style="background:#444444" title="#444444" onclick="addBalises('#chatbox_message', '[color=#444444]', '[/color]');"></div>
                        <div class="sc" style="background:#666666" title="#666666" onclick="addBalises('#chatbox_message', '[color=#666666]', '[/color]');"></div>
                        <div class="sc" style="background:#999999" title="#999999" onclick="addBalises('#chatbox_message', '[color=#999999]', '[/color]');"></div>
                        <div class="sc" style="background:#b6b6b6" title="#b6b6b6" onclick="addBalises('#chatbox_message', '[color=#b6b6b6]', '[/color]');"></div>
                        <div class="sc" style="background:#cccccc" title="#cccccc" onclick="addBalises('#chatbox_message', '[color=#cccccc]', '[/color]');"></div>
                        <div class="sc" style="background:#d8d8d8" title="#d8d8d8" onclick="addBalises('#chatbox_message', '[color=#d8d8d8]', '[/color]');"></div>
                        <div class="sc" style="background:#efefef" title="#efefef" onclick="addBalises('#chatbox_message', '[color=#efefef]', '[/color]');"></div>
                        <div class="sc" style="background:#f4f4f4" title="#f4f4f4" onclick="addBalises('#chatbox_message', '[color=#f4f4f4]', '[/color]');"></div>
                        <div class="sc" style="background:#ffffff" title="#ffffff" onclick="addBalises('#chatbox_message', '[color=#ffffff]', '[/color]');"></div>
                        <span class="pl"></span>
                        <div class="sc" style="background:#ff0000" title="#ff0000" onclick="addBalises('#chatbox_message', '[color=#ff0000]', '[/color]');"></div>
                        <div class="sc" style="background:#980000" title="#980000"></div>
                        <div class="sc" style="background:#ff7700" title="#ff7700"></div>
                        <div class="sc" style="background:#ffff00" title="#ffff00"></div>
                        <div class="sc" style="background:#00ff00" title="#00ff00"></div>
                        <div class="sc" style="background:#00ffff" title="#00ffff"></div>
                        <div class="sc" style="background:#1e84cc" title="#1e84cc"></div>
                        <div class="sc" style="background:#0000ff" title="#0000ff"></div>
                        <div class="sc" style="background:#9900ff" title="#9900ff"></div>
                        <div class="sc" style="background:#ff00ff" title="#ff00ff"></div>
                        <span class="pl"></span>
                        <div class="sc" style="background:#f4cccc" title="#f4cccc"></div>
                        <div class="sc" style="background:#dbb0a7" title="#dbb0a7"></div>
                        <div class="sc" style="background:#fce5cd" title="#fce5cd"></div>
                        <div class="sc" style="background:#fff2cc" title="#fff2cc"></div>
                        <div class="sc" style="background:#d9ead3" title="#d9ead3"></div>
                        <div class="sc" style="background:#d0e0e3" title="#d0e0e3"></div>
                        <div class="sc" style="background:#c9daf8" title="#c9daf8"></div>
                        <div class="sc" style="background:#cfe2f3" title="#cfe2f3"></div>
                        <div class="sc" style="background:#d9d2e9" title="#d9d2e9"></div>
                        <div class="sc" style="background:#ead1dc" title="#ead1dc"></div>
                        <div class="sc" style="background:#ea9999" title="#ea9999"></div>
                        <div class="sc" style="background:#dd7e6b" title="#dd7e6b"></div>
                        <div class="sc" style="background:#f9cb9c" title="#f9cb9c"></div>
                        <div class="sc" style="background:#ffe599" title="#ffe599"></div>
                        <div class="sc" style="background:#b6d7a8" title="#b6d7a8"></div>
                        <div class="sc" style="background:#a2c4c9" title="#a2c4c9"></div>
                        <div class="sc" style="background:#a4c2f4" title="#a4c2f4"></div>
                        <div class="sc" style="background:#9fc5e8" title="#9fc5e8"></div>
                        <div class="sc" style="background:#b4a7d6" title="#b4a7d6"></div>
                        <div class="sc" style="background:#d5a6bd" title="#d5a6bd"></div>
                        <div class="sc" style="background:#e06666" title="#e06666"></div>
                        <div class="sc" style="background:#cc4125" title="#cc4125"></div>
                        <div class="sc" style="background:#f6b26b" title="#f6b26b"></div>
                        <div class="sc" style="background:#ffd966" title="#ffd966"></div>
                        <div class="sc" style="background:#93c47d" title="#93c47d"></div>
                        <div class="sc" style="background:#76a5af" title="#76a5af"></div>
                        <div class="sc" style="background:#6d9eeb" title="#6d9eeb"></div>
                        <div class="sc" style="background:#6fa8dc" title="#6fa8dc"></div>
                        <div class="sc" style="background:#8e7cc3" title="#8e7cc3"></div>
                        <div class="sc" style="background:#c27ba0" title="#c27ba0"></div>
                        <div class="sc" style="background:#cc0000" title="#cc0000"></div>
                        <div class="sc" style="background:#a61c00" title="#a61c00"></div>
                        <div class="sc" style="background:#e69138" title="#e69138"></div>
                        <div class="sc" style="background:#f1c232" title="#f1c232"></div>
                        <div class="sc" style="background:#6aa84f" title="#6aa84f"></div>
                        <div class="sc" style="background:#45818e" title="#45818e"></div>
                        <div class="sc" style="background:#3c78d8" title="#3c78d8"></div>
                        <div class="sc" style="background:#3d85c6" title="#3d85c6"></div>
                        <div class="sc" style="background:#674ea7" title="#674ea7"></div>
                        <div class="sc" style="background:#a64d79" title="#a64d79"></div>
                        <div class="sc" style="background:#900000" title="#900000"></div>
                        <div class="sc" style="background:#85200C" title="#85200C"></div>
                        <div class="sc" style="background:#B45F06" title="#B45F06"></div>
                        <div class="sc" style="background:#BF9000" title="#BF9000"></div>
                        <div class="sc" style="background:#38761D" title="#38761D"></div>
                        <div class="sc" style="background:#134F5C" title="#134F5C"></div>
                        <div class="sc" style="background:#1155Cc" title="#1155Cc"></div>
                        <div class="sc" style="background:#0B5394" title="#0B5394"></div>
                        <div class="sc" style="background:#351C75" title="#351C75"></div>
                        <div class="sc" style="background:#741B47" title="#741B47"></div>
                        <div class="sc" style="background:#660000" title="#660000"></div>
                        <div class="sc" style="background:#5B0F00" title="#5B0F00"></div>
                        <div class="sc" style="background:#783F04" title="#783F04"></div>
                        <div class="sc" style="background:#7F6000" title="#7F6000"></div>
                        <div class="sc" style="background:#274E13" title="#274E13"></div>
                        <div class="sc" style="background:#0C343D" title="#0C343D"></div>
                        <div class="sc" style="background:#1C4587" title="#1C4587"></div>
                        <div class="sc" style="background:#073763" title="#073763"></div>
                        <div class="sc" style="background:#20124D" title="#20124D"></div>
                        <div class="sc" style="background:#4C1130" title="#4C1130"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vider" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
                </div>
                <div class="modal-footer">
                <form method="post" action="{{ path('chatbox.delete')}}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Vider la chatbox</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
                </div>
            </div>
        </div>
    </div>



    {% block javascripts %}
        <!-- javascript -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/extra.js"></script>
        <script src="/assets/plugins/wow/js/wow.min.js"></script>
        <script src="/assets/js/bbcode.js"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript">
            function remplirInput(id,txt) {
              document.getElementById(id).value +=" "+ txt +" ";
            }
        </script>
        <script>
            setInterval('load_chatbox_msg()', 2000);
            function load_chatbox_msg() {
                $('#chatboxMsg').load('loadChatbox');
            }
        </script>
        <script>
            document.getElementById('chatboxMsg').scrollTop = document.getElementById('chatboxMsg').scrollHeight;
        </script>
   {% endblock %}

    </body>
</html>
