<div class="sidebar-content mb-4">
    <div class="sidebar-title">
        <strong><i class="fa fa-wechat mr-2"></i>Chatbox</strong>
        <span class="cursor-pointer float-right" data-toggle="modal" data-target="#myModal"><span class="fa fa-warning"></span></span>
        {% if is_granted('ROLE_MODERATEUR')  %}
        <span class="cursor-pointer float-right mr-2" data-title="Delete" data-toggle="modal" data-target="#vider" ><i class="fa fa-trash"></i></span>
        {% endif %}
        <!-- Modal -->
        <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content modalChatbox">
                    <div class="modal-header slide">
                        <h4 class="modal-title chatboxH4"><span class="fa fa-gavel" style="padding-right:9px;"></span>Règlement de la ChatBox</h4>
                        <button type="button" class="close chatboxClose" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="spacer center"><div class="mask center"></div></div>
                    <div class="modal-body slide">
                        <p>
                        - Interdiction de spammer (3 messages et 3 caractères d'affilés maximum).<br/>
                        - 3 Smileys maximum a chaque message entrer dans la shoutbox.<br/>
                        - Interdiction de mettre des liens externe sauf images et musiques.<br/>
                        - Interdiction d'utiliser les majuscules de manière intempestive (pas plus de 5 maj).<br/>
                        - Interdiction d'avoir un langage vulgaire.<br/>
                        - Interdiction de divulguer des informations personnel.<br/>
                        - Interdiction de poster plus d'un lien (liens internes seulement).<br/>
                        - Interdiction de parler de virus, rat ou autre sur la shoutbox.<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for message in app.flashes('success') %}
<div class="alert alert-success alert-custom">
    <i class="fa fa-check"></i> {{ message }}
</div>
{% endfor %}
<div class="p-2">
    <div class="bgChatMessage" id="chatboxMsg">
        {% for chat in chatbox %}
        <div class="p-1" id='{{ chat.id }}'>
            {% if chat.user != app.user %}
                <a href="#" class="float-right" data-title="Signaler" data-toggle="modal" data-target="#signaler{{ chat.id }}" ><i class="fa fa-exclamation-triangle"></i></a>
                <!-- modal signalement -->
                <div class="modal fade modal-custom" id="signaler{{ chat.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    {{ include("signalement/signalement_modal.html.twig", {signal : chat.id, route : 'signalement.chatbox'}) }}
                </div>
            {% endif %}
            {% if is_granted('ROLE_MODERATEUR') %}
                <a href="#" data-title="Delete" data-toggle="modal" data-target="#delete{{ chat.id }}" ><i class="fa fa-trash"></i></a>
                <!-- modal delete -->
                <div class="modal fade" id="delete{{ chat.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    {{ include("inc/modal/modal_delete.html.twig", {signal : chat.id, route : 'chatbox.supprimer'}) }}
                </div>
            {% endif %}
            <img width="20" height="20"src="{{ vich_uploader_asset(chat.user, 'imageFile') }}" alt="{{ chat.user.username }}" />
            <span class="chatDateCust">{{ date_chatbox(chat.poster | date('d-m-Y H:i:s')) }}</span>
            - {% if chat.user != app.user %}<span onclick="tagUser('message','{{ chat.user.username }}')" class="tagUser fa fa-tag"></span>{% endif %}
            <span class="chatpseudMessag">
                <a href="{{ path('membres.profil', {id: chat.user.id, slug: chat.user.slug}) }}" class="pseudoUser{{ chat.user.role.id }}" > {{ chat.user.username }} </a> :
                {% if chat.user.role.id == 1 or chat.user.role.id == 5 %}{{ chat.message }}{% else %}{{ parser(chat.message) | raw }}{% endif %}
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <form method="POST" action="{{ path('enregistrement') }}" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        {% if is_granted('ROLE_PREMIUM') %}
                        <input class="editor form-control" type="text" id="message" name="message">
                        {% else %}
                        <input type="text" id="message" name="message" required="required" maxlength="255" placeholder="Écrire un message..." class="form-control">
                        {% endif %}
                        <div class="input-group-prepend">
                            <button class="btn input-group-text" type="submit" name="submit" value="Envoyez votre message !" id="envoi"><i class="fa fa-send" aria-hidden="true"></i>{{ button|default('')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="vider" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
            </div>
            <div class="modal-footer">
            <form method="post" action="{{ path('chatbox.delete')}}">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Vider la chatbox</button>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
            </div>
        </div>
    </div>
</div>
