{% extends 'admin/layout.html.twig' %}

{% block title %} Dashboard {{ parent() }}{% endblock %}

{% block titrePage %}Dashboard{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Dashboard</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <table class="table">
            <tbody id="myTable">
        {% for categ in categories if categ.parent == null %}
            <tr>
                <td><i class="{{ categ.icon }}"></i></td>
                <td>
                    <a href="" class="dataList-mainRow">{{ categ.categorie }}</a>
                    <span class="dataList-hint">Catégorie</span>
                </td>
            </tr>
            {% for sousCateg in categories if sousCateg.parent == categ.id %}
                    <tr>
                        <td class=""><i class="{{ sousCateg.icon }}"></i>
                        <td class="pl-4">
                            <a href="" class="dataList-mainRow">{{ sousCateg.categorie }}</a>
                            <span class="dataList-hint">Forum</span>
                        </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
parent()
$(document).ready(function(){
 $("#myInput").on("keyup", function() {
   var value = $(this).val().toLowerCase();
   $("#myTable tr").filter(function() {
     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   });
 });
});
</script>
{% endblock %}
