{% extends 'layout.html.twig' %}

{% block title %} {{ conversation.titre }} {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('conversations') }}">Conversations</a></li>
    <li class="breadcrumb-item active">{{ conversation.titre }}</li>
</ol>

<h1 class="p-title-value text-center">{{ conversation.titre }}</h1>
<p class="text-center pDescription">
    {% set blockMessageAutor = false %}
    {% for p in conversation.conversationMessage %}
        <i class="fa fa-users"></i> <a class="pseudoUser{{ p.participant.role.id }}" href="{{ path('membres.profil', {id: p.participant.id, slug: p.participant.slug}) }}">{{ p.participant.username }}</a>,
    {% endfor %}
    <span><i class="fa fa-clock-o"></i> {{ date_passed(conversation.createdAt | date('d-m-Y H:i:s')) }}</span>.
</p>

<div class="row">
    <div class="col-lg-9">
        {% if is_granted('STAFF_CONVERSATION', conversation) == false %}
        <div class="blockMessage blockMessage--error blockMessage--iconic">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-warning"></i>
                    </td>
                    <td>
            			Il n'y a aucun membre du staff dans cette discussion. Restez vigilant à ne communiquer aucune donnée sensible aux autres membres (comme votre mot de passe ou votre adresse), faites attention au contenu téléchargé, et ne cliquez sur aucun lien sans avoir entièrement confiance.
                        Vous souhaitez procéder a une vente ou un échange? N'oubliez pas de vérifier que le(s) membre(s) en question possède(nt) les conditions de ventes, en cas de doutes inviter un membre de l'équipe.
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <div class="blockMessage-info">
            <i class="fa fa-thumbs-up"></i> Un membre certifié de l'équipe se trouve dans cette conversation.
        </div>
        {% endif %}
        <br/>
        <div class="btn-group float-right">
            {% if is_granted('STAFF_CONVERSATION', conversation) == false %}
            <div class="mr-2"><a data-toggle="modal" href="#" data-target="#modalAddStaff" data-id="{{ conversation.id }}">Inviter un membre de l'équipe</a></div>
            {% endif %}
            {% if app.user == conversation.expediteur or is_granted('ROLE_MODERATEUR') %}
                {% if conversation.locked %}
                <div class="mr-2"><a href="{{ path('conversation.locked', {id: conversation.id})}}">Réouvrir la conversation</a></div>
                {% else %}
                <div class="mr-2"><a href="{{ path('conversation.locked', {id: conversation.id})}}">Fermer la conversation</a></div>
                {% endif %}
            {% endif %}
            {% for p in conversation.conversationMessage if p.participant == app.user and p.important == false %}
            <div class="mr-2"><a href="{{ path('conversation.important', {id: conversation.id})}}">Conversation importante</a></div>
            {% else %}
            <div class="mr-2"><a href="{{ path('conversation.important', {id: conversation.id})}}">Rendre la conversation normale</a></div>
            {% endfor %}
            {% if conversation.conversationMessage.count > 1 %}
            <div><a href="{{ path('conversation.quitter', {id: conversation.id})}}">Quitter la conversation</a></div>
            {% else %}
            <div><a href="#" data-title="Delete" data-toggle="modal" data-target="#delete" >Supprimer la conversation</a></div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="pagination">
            {{ knp_pagination_render(reponses) }}
        </div>
        <div id="content-section" class="no-padding">
            <section>
                <div class="conversation-padding">
                    <div class="visitor-avatar mr-3 mb-2">
                        <img width="100" height="100" src="{{ vich_uploader_asset( conversation.expediteur, 'imageFile') }}" alt="{{  conversation.expediteur.username }}" />
                    </div>
                    <div class="conversation-expediteur">
                        <a class="pseudoUser{{ conversation.expediteur.role.id }}" href="{{ path('membres.profil', {id: conversation.expediteur.id, slug: conversation.expediteur.slug}) }}">{{ conversation.expediteur.username }}</a>
                        <div class="staffRole userBannerDiscuV2 b{{ conversation.expediteur.role.id }}">{{ conversation.expediteur.role.nom }}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            <div class="conversation-padding message-attribution-bg">
                <span class="message-userArrow"></span>
                <span><i class="fa fa-clock-o"></i> {{ date_passed(conversation.createdAt | date('d-m-Y H:i:s')) }}</span>
            </div>
            <div class="conversation-padding">
                {{ parser(conversation.message) | raw }}
            </div>
        </div>
        <br/>

        {% for rep in reponses %}
            <div id="content-section" class="no-padding">
                <section>
                    <div class="conversation-padding">
                        <div class="visitor-avatar mr-3 mb-2">
                            <img width="50" height="50" src="{{ vich_uploader_asset( rep.auteur, 'imageFile') }}" alt="{{  rep.auteur.username }}" />
                        </div>
                        <div class="conversation-expediteur">
                            <a class="pseudoUser{{ rep.auteur.role.id }}" href="{{ path('membres.profil', {id: rep.auteur.id, slug: rep.auteur.slug}) }}">{{ rep.auteur.username }}</a>
                            <div class="staffRole userBannerDiscuV2 b{{ rep.auteur.role.id }}">{{ rep.auteur.role.nom }}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>
                <div class="conversation-padding message-attribution-bg">
                    <span class="message-userArrow userArrow-reponse"></span>
                    <span><i class="fa fa-clock-o"></i> {{ date_passed(rep.createdAt | date('d-m-Y H:i:s')) }}</span>
                </div>
                <div class="conversation-padding">
                    {{ parser(rep.message) | raw }}
                </div>
            </div>
            <br/>
        {% endfor %}
        <div class="pagination">
            {{ knp_pagination_render(reponses) }}
        </div>
        {% if conversation.locked %}
        <div class="alert alert-danger">
            <strong><i class="fa fa-warning"></i> Statut de la conversation:</strong> N'est pas ouverte pour d'autres réponses.
        </div>
        {% else %}
        <div id="content-section" class="no-padding">
        	<form action="{{ path("conversation.reponse.new", {id: conversation.id}) }}" method="POST">
        		<div class="article-content">
        			<div>
        				<textarea class="editor form-control" name="tMessage" rows="5" id="comment"></textarea>
        			</div>
        		</div>
        		<div class="text-center btn-container">
                    <button class="btn" type="submit">
                    	<i class="fa fa-edit fa-lg" aria-hidden="true"></i> Répondre
                    </button>
                </div>
        		<div class="clearfix"></div>
        	</form>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3">
        <div class="sidebar-content mobileMT">
            <div class="sidebar-title">
                <span class="fa fa-comments"></span>
                <span class="">Information de la conversation</span>
            </div>
            <div class="sidebar-body">
                <dl class="widget-conversation">
                    <dt><span>Participants: </span></dt>
                    <dd><span>{{ conversation.conversationMessage.count }}</span></dd>
                    <dt><span>Réponses: </span></dt>
                    <dd><span>{{ conversation.conversationReponses.count }}</span></dd>
                    {% if conversation.conversationReponses.count > 0 %}
                        {% set  lastRep = reponses | last %}
                        <dt><span>Dernière réponse: </span></dt>
                        <dd><span>{{ date_passed(lastRep.createdAt | date('d-m-Y H:i:s')) }}</span></dd>
                        <dt><span>Dernière réponse par: </span></dt>
                        <dd><span><a class="pseudoUser{{ lastRep.auteur.role.id }}" href="{{ path('membres.profil', {id: lastRep.auteur.id, slug: lastRep.auteur.slug}) }}">{{ lastRep.auteur.username }}</a></span></dd>
                    {% else %}
                        <dt><span>Dernière réponse: </span></dt>
                        <dd><span>{{ date_passed(conversation.createdAt | date('d-m-Y H:i:s')) }}</span></dd>
                        <dt><span>Dernière réponse par: </span></dt>
                        <dd><span><a class="pseudoUser{{ conversation.expediteur.role.id }}" href="{{ path('membres.profil', {id: conversation.expediteur.id, slug: conversation.expediteur.slug}) }}">{{ conversation.expediteur.username }}</a></span></dd>
                        {% endif %}
                </dl>
            </div>
        </div>
        <br/>
        <div class="sidebar-content">
            <div class="sidebar-title">
                <span class="fa fa-users"></span>
                <span class="">Participants à la conversation</span>
            </div>
            <div class="sidebar-body">
                {% for p in conversation.conversationMessage %}
                <div class="sidebar-content-staf">
                    <div class="visitor-avatar">
                        <img width="38" height="38" alt="{{ p.participant.username }}" src="{{ vich_uploader_asset(  p.participant, 'imageFile') }}"/>
                    </div>
                    <a class="username" href="{{ path('membres.profil', {id: p.participant.id, slug: p.participant.slug})}}">
                        <span class="pseudoUser{{ p.participant.role.id }}">{{ p.participant.username }}</span>
                    </a>
                    <div class="staffRole">{{ p.participant.role.nom }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Modal ajoutUserStaff -->
<div class="modal fade modal-custom" id="modalAddStaff" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Modal delete conversation -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Vos commentaires seront supprimé également</div>
            </div>
            <div class="modal-footer">
            <form method="post" action="{{ path('conversation.delete', {id: conversation.id})}}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conversation.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalAddStaff').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('conversation.add.staff', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
    {{ include('inc/editor/wysibb.html.twig') }}
{% endblock %}
