{% extends 'layout.html.twig' %}

{% block title %} Conversations {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active">Conversations</li>
</ol>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    <i class="fa fa-check"></i> <strong> Success !!!</strong> {{ message }}
</div>
{% endfor %}

<h1 class="p-title-value text-center">Conversations</h1>

    <div id="btn-conversation-add">
    	<a href="{{ path('conversation.new') }}">
    		<span>Démarrer une conversation</span>
    	</a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pagination">
                {{ knp_pagination_render(conversations) }}
            </div>
            <div class="discussionRepAfi no-padding" id="content-section">
                <table>
                    <thead>
                      <tr class="nodeLigneTitle">
                        <th></th>
                        <th></th>
                        <th class="discussionRepAfi">
                        </th>
                        <th class="discussionRepAfi" style="text-align: right;">Expéditeur ↓</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for u in conversations %}
                        <tr class="nodeLigne {% for p in u.conversation.conversationMessage if p.participant == app.user and p.important %}ligneImportantDiscu{% endfor %} {% for p in u.conversation.conversationMessage if p.participant == app.user and p.lu == false %}converLigne{% endfor %}">
                            <td class="discussionCol1"><img width="36" height="36" src="{{ vich_uploader_asset( app.user, 'imageFile') }}" alt="{{  app.user.username }}" /></td>
                            <td class="discussionCol2">
                                {% if u.conversation.locked %}
                                <span class="float-right pl-2" style="color:red;"><i class="fa fa-lock"></i></span>
                                {% endif %}
                                {% for p in u.conversation.conversationMessage if p.participant == app.user and p.important %}
                                <span style="float:right; color:#f79e12;"><i class="fa fa-thumb-tack"></i></span>
                                {% endfor %}
                                <div class="nodeTitle">
                                <a href="{{ path('conversation.message', {id: u.conversation.id, slug: u.conversation.slug})}}">{{ u.conversation.titre }}</a>
                                </div>
                                <span class="dropdown noMessages open float-right" id="editDiscussion">
    							    <a aria-expanded="true" href="#" type="button" data-toggle="dropdown">Editer</a>
    						    	<ul class="dropdown-menu">
                                        <li>
                                        {% for p in u.conversation.conversationMessage if p.participant == app.user and p.important == false %}
                                        <a href="{{ path('conversation.important', {id: u.conversation.id})}}">Définir comme important</a>
                                        {% else %}
                                        <a href="{{ path('conversation.important', {id: u.conversation.id})}}">Définir comme plus important</a>
                                        {% endfor %}
                                        </li>
                                        {% if app.user == u.conversation.expediteur or is_granted('ROLE_MODERATEUR') %}
                                            <li>
                                            {% if u.conversation.locked %}
                                            <a href="{{ path('conversation.locked', {id: u.conversation.id})}}">Réouvrir la conversation</a>
                                            {% else %}
                                            <a href="{{ path('conversation.locked', {id: u.conversation.id})}}">Fermer la conversation</a>
                                            {% endif %}
                                            </li>
                                        {% endif %}
                                        {% if u.conversation.conversationMessage.count > 1 %}
                                        <a href="{{ path('conversation.quitter', {id: u.conversation.id})}}">Quitter la conversation</a>
                                        {% else %}
                                        <a href="#" data-title="Delete" data-toggle="modal" data-target="#delete{{ u.conversation.id }}" >Supprimer la conversation</a>
                                        {% endif %}
    								</ul>
    							</span>
                                <!-- Modal delete conversation -->
                                <div class="modal fade" id="delete{{ u.conversation.id }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Veuillez confirmer la suppression ?</div>
                                                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Vos commentaires seront supprimé également</div>
                                            </div>
                                            <div class="modal-footer">
                                            <form method="post" action="{{ path('conversation.delete', {id: u.conversation.id})}}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u.conversation.id) }}">
                                                <button class="btn btn-danger">Supprimer</button>
                                            </form>
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nodeStat">
                                    <span class="disparforumstat">
                                        {% for p in u.conversation.conversationMessage %}

                                        <a class="pseudoUser{{ p.participant.role.id }}" href="{{ path('membres.profil', {id: p.participant.id, slug: p.participant.slug}) }}">{{ p.participant.username }}</a>,
                                        {% endfor %}
                                        <span><i class="fa fa-clock-o"></i> {{ date_passed(u.conversation.createdAt | date('d-m-Y H:i:s')) }}</span>
                                    </span>
                                </div>
                            </td>
                            <td class="discussionCol3 discussionRepAfiBis">
                                <div class="nodeTdCust">
                                    <div class="discussionRepAfi">
                                        <div><span>Réponses:</span> <span style="float: right;">{{ u.conversation.conversationReponses.count }}</span></div>
                                        <div><span>Participants:</span> <span style="float: right;">{{ u.conversation.conversationMessage.count }}</span></div>
                                    </div>
                                </div>
                            </td>
                            <td class="discussionCol4 discussionRepAfiBis">
                                <div class="nodeTdCust">
                                    <div class="discussionRepAfi">
                                        <div>
                                            <i class="fa fa-clock-o"></i> {{ date_passed(u.conversation.createdAt | date('d-m-Y H:i:s')) }}
                                        </div>
                                        <div>
                                            <span class="noMessages"><i class="fa fa-user-o"></i>
                                                <a class="pseudoUser{{ u.conversation.expediteur.role.id }}" href="{{ path('membres.profil', {id: u.conversation.expediteur.id, slug: u.conversation.expediteur.slug}) }}">{{ u.conversation.expediteur.username }}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-info mt-3">
                                    <strong>Aucune discussion !</strong> Soyez la première personne à poster une discussion.
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="pagination">
                {{ knp_pagination_render(conversations) }}
            </div>
        </div>
    </div>
{% endblock %}
