<nav class="navbar navbar-expand-lg sticky-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/assets/img/logolm.png"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item {% if current_url is defined and current_url == 'home' %}active{% endif %}">
                    <a class="nav-link"  href="{{ path('/') }}">Home</a>
                </li>
                <li class="nav-item {% if current_url is defined and current_url == 'forums' %}active{% endif %}">
                    <a class="nav-link"  href="{{ path('forums') }}">Forums</a>
                </li>
                {% if app.user %}
                <li class="nav-item {% if current_url is defined and current_url == 'membres' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('membres') }}">Membres</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                {% if app.user %}
                <li id="profil-pop-user" class="dropdown nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        {% if ("now" | date("H")) < 19  and ("now" | date("H")) > 6 %}
                        <i class="fa fa-user-circle-o"></i>
                        <span class="d-none d-md-inline-block">Bonjour {{ app.user.username }}</span>
                        {% else %}
                        <i class="fa fa-moon-o"></i>
                        <span class="d-none d-md-inline-block">Bonsoir {{ app.user.username }}</span>
                        {% endif %}
                        {{ render(controller("App\\Controller\\SignalementController:alerteSignal")) }}
                    </a>
                    <ul class="profil-pop-mobile dropdown-menu" id="dropdown-content-user">
                        <span class="menu-arrow"></span>
                        <h3 class="menu-header">Votre compte</h3>
                        <div class="float-left avatar-user">
                            <img src="{{ vich_uploader_asset( app.user, 'imageFile') }}" alt="{{  app.user.username }}"/>
                        </div>
                        <div>
                            <a href="{{ path('membres.profil', {id: app.user.id, slug: app.user.slug}) }}">
                                <i class="fa fa-user-circle"></i> Voir son profil
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('membres.compte') }}"> <i class="fa fa-edit"></i> Editer son profil</a>
                        </div>
                        <div>
                            <a href="{{ path('conversations') }}"> <i class="fa fa-envelope-o"></i> Message privé</a>
                        </div>
                        {% if is_granted('ROLE_MODERATEUR')  %}
                        <div class="navbar-signal-alerte">
                            <a href="{{ path('signalement') }}"><i class="fa fa-flag"></i> Signalement {{ render(controller("App\\Controller\\SignalementController:alerteSignal")) }}</a>
                        </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN')  %}
                        <div class="mt-2 text-center">
                            <a href="/admin" target="_blank"><i class="fa fa-sign-in"></i> Panneaux d'administration</a>
                        </div>
                        {% endif %}
                    </ul>
                </li>

                <li id="profil-pop-user" class="dropdown nav-item {% if current_url is defined and current_url == 'search' %}active{% endif %}">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                    <ul class="dropdown-menu search-pop-mobile" id="dropdown-content-user">
                        <span class="menu-arrow"></span>
                        <h3 class="menu-header">Rechercher</h3>
                        {{ render(controller("App\\Controller\\SearchController:searchNavbar")) }}
                    </ul>
                </li>

                {% set nombreMessage = 0 %}
                {% for nombre in app.user.conversationUsers if nombre.lu == false %}
                {% set nombreMessage = loop.index %}
                {% endfor %}
                <li class="nav-item dropdown {% if current_url is defined and current_url == 'conversation' %}active{% endif %}" id="profil-pop-messagerie">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        {% if nombreMessage > 0 %}<span class="badge badge-secondary alertMessagerie">{{ nombreMessage }}</span>{% endif %}
                    </a>
                    <ul class="dropdown-menu conv-pop-mobile" id="dropdown-content-messagerie">
                        <span class="menu-arrow"></span>
                        <h3 class="menu-header">Conversations</h3>
                        {% for us in app.user.conversationUsers if us.lu == false %}
                        <div class="messagerie-user">
                            <a href="{{ path('conversation.message', {id: us.conversation.id, slug: us.conversation.slug})}}">{{ us.conversation.titre }}</a>
                            <div>
                                <span class="noMessages"><i class="fa fa-user-o"></i>
                                    <a class="pseudoUser{{ us.conversation.expediteur.role.id }}" href="{{ path('membres.profil', {id: us.conversation.expediteur.id, slug: us.conversation.expediteur.slug}) }}">{{ us.conversation.expediteur.username }}</a>,
                                    <i class="fa fa-clock-o"></i> {{ date_passed(us.conversation.createdAt | date('d-m-Y H:i:s')) }}
                                </span>
                            </div>
                            </a>
                            <hr/>
                        </div>
                        {% else %}
                        <div class="messagerie-user pb-2 text-center">Vous n'avez aucune conversation récente.</div>
                        {% endfor %}
                        <div class="menu-footer">
							<span class="menu-footer-main">
								<a href="{{ path('conversations') }}">Afficher l'ensemble…</a>
							</span>
							<span class="menu-footer-opposite float-right">
								<a href="{{ path('conversation.new') }}">Nouvelle conversation</a>
							</span>
						</div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-power-off"></i></a>
                </li>
                {% else %}
                <li class="nav-item {% if current_url is defined and current_url == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-sign-in"></i> Se connecter</a>
                </li>
                <li class="nav-item {% if current_url is defined and current_url == 'inscription' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('inscription') }}"><i class="fa fa-key"></i> S'inscrire</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
