<div class="sidebar-container">
	{% if app.user %}
	{{ include('inc/sidebar/sidebar_user_panel.html.twig') }}
	<br/>
	{{ render(controller("App\\Controller\\SidebarController:staffOnline")) }}
	<br/>
	{{ render(controller("App\\Controller\\SidebarController:menu")) }}
	<br/>
	{% else %}
	{{ include('inc/sidebar/sidebar_connexion.html.twig') }}
	<br/>
	{% endif %}
	{{ render(controller("App\\Controller\\SidebarController:forum")) }}
	<br/>
	{{ render(controller("App\\Controller\\SidebarController:statistique")) }}
	<br/>
	{{ render(controller("App\\Controller\\SidebarController:social")) }}
</div>
