{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Liste des forums
{% endblock %}
{% block main %}
<div>
    <table class="table">
    {% for categ in categories if categ.parent == null %}
    <tr>
        <td>
            <span><i class="fa fa-list mr-4"></i><a href="/admin/?entity=ForumCategorie&action=edit&menuIndex=2&submenuIndex=0&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fentity%253DForumCategorie%2526action%253Dlist%2526menuIndex%253D2%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ categ.id}}"><strong>{{ categ.categorie }}</strong> <span class="dataList-hint">Catégorie</span></a></span>
        </td>
    </tr>
        {% for sousCateg in categories if sousCateg.parent == categ.id %}
        <tr>
            <td>
                <span><i class="fa fa-comments mr-5"></i><a href="{{ path('admin.categorie.editer', {id: sousCateg.id, slug: sousCateg.slug})}}"><strong>{{ sousCateg.categorie }}</strong> <span class="dataList-hint">Forum</span></a></span>
                <span class="float-right"><a href="/admin//?entity=ForumCategorie&action=show&menuIndex=2&submenuIndex=0&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fentity%253DForumCategorie%2526action%253Dlist%2526menuIndex%253D2%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ sousCateg.id}}">{{ sousCateg.forumDiscussions.count }}</a></span>
            </td>
        </tr>
            {% for sousCateg2 in categories if sousCateg2.parent == sousCateg.id %}
            <tr>
                <td>
                    <span><i class="fa fa-comment mrNiveauDeux"></i><a href="{{ path('admin.categorie.editer', {id: sousCateg2.id, slug: sousCateg2.slug})}}"><strong>{{ sousCateg2.categorie }}</strong> <span class="dataList-hint">Forum</span></a></span>
                    <span class="float-right"><a href="/admin//?entity=ForumCategorie&action=show&menuIndex=2&submenuIndex=0&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fentity%253DForumCategorie%2526action%253Dlist%2526menuIndex%253D2%2526submenuIndex%253D0%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ sousCateg2.id}}">{{ sousCateg2.forumDiscussions.count }}</a></span>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
