{{ form_start(form) }}
<div class="article-add-form">
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        <i class="fa fa-warning"></i> <strong> Erreur !!!</strong> {{ message }}
    </div>
    {% endfor %}
    <div class="row  mt-3 mb-3" >
        <div class="input-group col-md-2 prefixeMobileMB">
            {{ form_widget(form.prefixe) }}
            {{ form_errors(form.prefixe) }}
        </div>
        <div class="input-group col-md-10">
            {{ form_widget(form.titre, { 'attr': {'placeholder': 'Ajouter un titre'} }) }}
            {{ form_errors(form.titre) }}
        </div>
    </div>
    <textarea class="editor form-control" name="tMessage" rows="5" id="tMessage">{% if discussion.message is defined %}{{ discussion.message}}{% endif %}</textarea>
</div>
<div class="">
    <dl class="formRow formRow-input">
        <dt>
            <label for="email">Tags : </label>
        </dt>
        <dd>
            <div class="form-group mb-1">
                <div class="input-group">
                    {{ form_widget(form.tags) }}
                    {{ form_errors(form.tags) }}
                </div>
            </div>
        </dd>
    </dl>
    <dl class="formRow formRow-input">
        <dt>
            <label for="email">Options : </label>
        </dt>
        <dd>
            <div class="form-group">
                <div class="mb-2">
                    {{ form_widget(form.locked) }}
                    {{ form_errors(form.locked) }}
                    <dfn class="inputChoices-explain">Les membres ne peuvent plus répondre à cette discussion</dfn>
                </div>
                <div class="mb-3" style="{% if is_granted('ROLE_MODERATEUR') %}{% else %}display: none{% endif %}">
                    {{ form_widget(form.important) }}
                    {{ form_errors(form.important) }}
                    <dfn class="inputChoices-explain">Les discussions importantes apparaissent tout en haut de la 1ère page de la liste des discussions dans leur forum parent</dfn>
                </div>
            </div>
        </dd>
    </dl>
</div>
<div class="block-container">
    {{ form_rest(form) }}
    <div class="text-center btn-container">
        <button class="btn"><i class="fa fa-edit fa-lg" aria-hidden="true"></i>{{ button|default('Créer')}}</button>
    </div>
</div>
{{ form_end(form) }}
