{% extends 'layout.html.twig' %}

{% block title %} {{ categorie.categorie }} {{ parent() }}{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('forums') }}">Forums</a></li>
    <li class="breadcrumb-item active">{{ categorie.categorie }}</li>
</ol>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    <i class="fa fa-check"></i> <strong> Success !!!</strong> {{ message }}
</div>
{% endfor %}

<div class="row">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="col-sm-9">
        <h1 class="p-title-value text-center">{{ categorie.categorie }}</h1>
    </div>
    <div class="col-sm-3">
        <div id="btn-article-add">
        	<a href="{{ path('forum.discussions.new', {id: categorie.id, slug: categorie.slug})}}">
        		<span>Poster une nouvelle discussion</span>
        	</a>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12">
        <h1 class="p-title-value text-center">{{ categorie.categorie }}</h1>
    </div>
    {% endif %}
</div>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    <i class="fa fa-check"></i> <strong> Success !!!</strong> {{ message }}
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-9">
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
        <div class="discussionRepAfi no-padding" id="content-section">
            <table>
                <thead>
                  <tr class="nodeLigneTitle">
                    <th></th>
                    <th class="discussionRepAfi">Titre</th>
                    <th class="discussionRepAfi">
                        <span style="text-align: left;">Réponses</span>
                        <span style="text-align: right;">Affichages</span>
                    </th>
                    <th class="discussionRepAfi" style="text-align: right;">Dernier Message ↓</th>
                  </tr>
                </thead>
                <tbody>

                {% for d in discussions %}
                    <tr class="nodeLigne {% if d.important %}ligneImportantDiscu{% endif %}" id="">
                        <td class="discussionCol1"><img width="36" height="36" src="{{ vich_uploader_asset( d.auteur, 'imageFile') }}" alt="{{  d.auteur.username }}" /></td>
                        <td class="discussionCol2">
                            {% if d.locked %}
                            <span class="float-right pl-2" style="color:red;"><i class="fa fa-lock"></i></span>
                            {% endif %}
                            {% if d.important %}
                            <span style="float:right; color:#f79e12;"><i class="fa fa-thumb-tack"></i></span>
                            {% endif %}
                            <div class="nodeTitle">
                            <a href="{{ path('forum.discussion', {id: d.id, slug: d.slug}) }}">{{ d.titre }}</a>
                            </div>
                            {% if is_granted('DELET_EDIT_DISCISSION', d) or is_granted('ROLE_MODERATEUR') %}
                            <span class="dropdown noMessages open float-right" id="editDiscussion">
							    <a aria-expanded="true" href="#" type="button" data-toggle="dropdown">Editer</a>
						    	<ul class="dropdown-menu">
									<li>
										<a href="{{ path('forum.discussion.editer', {id: d.id, slug: d.slug})}}"><i class="fa fa-edit"></i> Editer la discussion</a>
									</li>
                                    <li>
                                        <a data-toggle="modal" href="#" data-target="#modalDeplaDiscu" data-id="{{ d.id }}"><i class="fa fa-sign-out"></i> Déplacer la discussion</a>
                                    </li>
									<li>
                                        {% if d.locked %}
										<a href="{{ path('forum.locked', {id: d.id})}}"><i class="fa fa-unlock"></i> Dévérrouiller la discussion</a>
                                        {% else %}
                                        <a href="{{ path('forum.locked', {id: d.id})}}"><i class="fa fa-lock"></i> Vérrouiller la discussion</a>
                                        {% endif %}
                                    </li>
                                    {% if is_granted('ROLE_MODERATEUR') %}
									<li>
                                        {% if d.important %}
										<a href="{{ path('forum.important', {id: d.id})}}"><i class="fa fa-thumb-tack"></i> Désépingler la discussion</a>
                                        {% else %}
                                        <a href="{{ path('forum.important', {id: d.id})}}"><i class="fa fa-thumb-tack"></i> Epingler la discussion</a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
								</ul>
							</span>
                            {% endif %}
                            <div class="nodeStat">
                                <span class="disparforumstat">
                                    <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug}) }}">{{ d.auteur.username }}</a>,
                                    <span><i class="fa fa-clock-o"></i> {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}</span>
                                </span>
                            </div>
                        </td>
                        <td class="discussionCol3 discussionRepAfiBis">
                            <div class="nodeTdCust">
                                <div class="discussionRepAfi">
                                    <div><span>Réponses:</span> <span style="float: right;">{{ d.forumCommentaires.count }}</span></div>
                                    <div><span>Affichages:</span> <span style="float: right;">{{ d.affichage }}</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="discussionCol4 discussionRepAfiBis">
                            <div class="nodeTdCust">
                                <div class="discussionRepAfi">
                                    {% if d.forumCommentaires.count > 0 %}
                                        {% set lastCom = max(d.forumCommentaires.snapshot) %}
                                        <div>
                                            {{ date_passed(lastCom.dateCreation | date('d-m-Y H:i:s')) }}
                                        </div>
                                        <div>
                                            <span class="noMessages"><i class="fa fa-user-o"></i>
                                                <a class="pseudoUser{{ lastCom.auteur.role.id }}" href="{{ path('membres.profil', {id: lastCom.auteur.id, slug: lastCom.auteur.slug})}}">{{ lastCom.auteur.username }}</a>
                                            </span>
                                        </div>
                                    {% else %}
                                        <div>
                                            {{ date_passed(d.dateCreation | date('d-m-Y H:i:s')) }}
                                        </div>
                                        <div>
                                            <span class="noMessages"><i class="fa fa-user-o"></i>
                                                <a class="pseudoUser{{ d.auteur.role.id }}" href="{{ path('membres.profil', {id: d.auteur.id, slug: d.auteur.slug})}}">{{ d.auteur.username }}</a>
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-info mt-3">
                                <strong>Aucune discussion !</strong> Soyez la première personne à poster une discussion.
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
        <div class="pagination">
            {{ knp_pagination_render(discussions) }}
        </div>
    </div>
    <div class="col-sm-3">
        {{ include("inc/sidebar.html.twig") }}
    </div>
</div>

<!-- Modal deplaDiscu -->
<div class="modal fade" id="modalDeplaDiscu" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalDeplaDiscu').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('forum.deplacer.discussion', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
