{% extends 'layout.html.twig' %}

{% block title %} {{ categorie.categorie }} {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('forums') }}">Forums</a></li>
    <li class="breadcrumb-item active">{{ categorie.categorie }}</li>
</ol>

<div class="row">
    <div class="col-md-12  mb-4">
        <h1 class="p-title-value text-center">{{ categorie.categorie }}</h1>
    </div>
</div>
{% set access = false %}
{% for sousCateg in categories if sousCateg.parent == categorie.id and (sousCateg.access.nom is not defined or is_granted(sousCateg.access.role)) %}
{% set access = true %}
{% endfor %}
{% if access %}
<div class="no-padding content-section mb-4" id="custom-categ1">
    {{ include("forum/inc/tableau_forums.html.twig") }}
</div>
{% endif %}
{% if categorie.locked == false %}
<div class="row">
    <div class="col-md-9">
        <div class="row">
        <div class="col-md-4 mb-3">
            <div id="btn-article-add">
            	<a href="{{ path('forum.discussions.new', {id: categorie.id, slug: categorie.slug})}}">
            		<span>Poster une nouvelle discussion</span>
            	</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="pagination float-right">
                {{ knp_pagination_render(discussions) }}
            </div>
        </div>
        {% if prefixes %}
            <div class="col-md-12">
                <div class="block-container-prefix">
                    Filtre préfixe :
                    <a href="{{ path('forum.discussions', {id: categorie.id, slug: categorie.slug}) }}">
                        <span class="prefix style1">All Prefix</span>
                    </a>
                    {% for prefix in prefixes %}
                    <a href="{{ path('forum.discussions', {id: categorie.id, slug: categorie.slug, prefix: prefix.id }) }}">
                        <span class="prefix {{ prefix.couleurType }}"><i class="{{ prefix.icon }}"></i> {{ prefix.prefix }} </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
        {{ include("forum/inc/tableau_discussions.html.twig") }}
        <br/>
        <div class="pagination float-right">
            {{ knp_pagination_render(discussions) }}
        </div>
    </div>
    <div class="col-md-3">
        {{ include("inc/sidebar.html.twig") }}
    </div>
</div>

<!-- Modal deplaDiscu -->
<div class="modal fade" id="modalDeplaDiscu" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#modalDeplaDiscu').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const id = button.attr('data-id');
        var url = "{{ (path('forum.deplacer.discussion', {id: 'ReplaceMeWithCorrectValue'})) }}";
        url = url.replace("ReplaceMeWithCorrectValue", id);
        var modal = $(this);
        $.ajax({
            url: url,
            success: function(data) {
                modal.find('.modal-content').html(data);
            }
        });
    });
    </script>
{% endblock %}
