{% extends 'layout.html.twig' %}

{% block title %} Edition de {{ discussion.titre }} {{ parent() }}{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('forums') }}">Forums</a></li>
    <li class="breadcrumb-item active">Editer: {{ discussion.titre }}</li>
</ol>

<h1 class="p-title-value text-center">Edition de {{ discussion.titre }}</h1>

<div id="content-section" class="page-connexion">
    {{ include('forum/_form.html.twig', {form: form, button:'Editer la discussion'}) }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script>
    $('#discussion_tags').select2();
    </script>
    {{ include('inc/editor/wysibb.html.twig') }}
{% endblock %}
