{% extends 'layout.html.twig' %}

{% block title %} Forums {{ parent() }}{% endblock %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('/') }}"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active">Forums</li>
</ol>

{{ include("inc/bannissement.html.twig") }}

<div class="row">
    <div class="col-md-9">
        {% if app.user %}
        <iframe id="chatbox" class="mb-3" src="chatbox"></iframe>
        {% endif %}
        {% for categorie in categories if categorie.parent == null %}
            {% if categorie.access.nom is not defined or is_granted(categorie.access.role) %}
            <div class="no-padding content-section" id="custom-categ{{ categorie.id }}">
                <div class="panel">

                    <div class="categTitle">
                        <div class="panel-title">
                            <span class="node-title"><i class="{{ categorie.icon }}"></i> {{ categorie.categorie }}</span>
                            <a data-toggle="collapse" href="#collapse{{ categorie.id }}"></a>
                        </div>
                    </div>
                    {{ include("forum/inc/tableau_forums.html.twig") }}
                </div>
            </div>
            <br/>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-3">
        {{ include("inc/sidebar.html.twig") }}
    </div>
</div>
{% endblock %}
